html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    background-color: #333;
}


.search{
    margin: 1rem auto;
    height: 20rem;
    width: 20rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(122, 121, 118);
}

.searchResults{
  margin: 5rem 40rem ;
  width: 55rem;
  text-align: left;
  font-size: 1.2rem;
}

.resultItem {
    opacity: 0;
    margin-bottom: 20px;
    animation: show 0.5s forwards ease-in-out;
    color: white;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
  }

a{
    height: 2rem;
    background-color: aliceblue;
    cursor: pointer;
}

.btn .cta{

}

.search__input{
    background-color: aliceblue;
}

@keyframes show {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }