:root{
    font-size:80%;
    background-color: rgb(64, 66, 66);
}
.container{
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.btn{
    margin-top: 20px;
    background-color: grey;
    border: none;
    cursor: pointer;
}
#drop-region {
    background-color: #fff;
    border-radius:20px;
    box-shadow:0 0 35px rgba(0,0,0,0.05);
    width:400px;
    padding:60px 40px;
    text-align: center;
    cursor:pointer;
    transition:.3s;
}
#drop-region:hover {
    box-shadow:0 0 45px rgba(0,0,0,0.1);
}
 
#image-preview {
    margin-top:20px;
}
#image-preview .image-view {
    display: inline-block;
    position:relative;
    margin-right: 13px;
    margin-bottom: 13px;
}
#image-preview .image-view img {
    max-width: 100px;
    max-height: 100px;
}
#image-preview .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background: rgba(255,255,255,0.5);
}

.highlighted {
    background-color:grey;
}